DICTIONARY_FREE_IPA_BASE_URL = https://api.dictionaryapi.dev/api/v2/entries/en/  # Getting IPA ---> https://dictionaryapi.dev/

GOOGLE_GENAI_USE_ENTERPRISE=false
GOOGLE_CLOUD_PROJECT='your-project-id'
GOOGLE_CLOUD_LOCATION='us-central1'
LLM_MODEL = 'gemini-3.1-flash-lite' # Fet generating Examples